# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
*.rar
!.mvn/wrapper/*

# idea ignore
*.iml
*.ipr
*.iws
.idea/*
**/target/*

# eclipse ignore
.settings/
.project
.classpath

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
*.orig
